

@colorByline: silver;
.bylineWrapper {
        border: 2px solid @colorByline;
        width: 50%;
        overflow: auto;
        clear:both;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 10px;
        padding: 1%;
}
