/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
@maxButtonFontSize: 2em;

// Style navbar
@navbarItemBgColor: limegreen;

// Style max menu
@maxBgColor: limegreen;
.rm-mobile a {
    color: black;
}

// Site title
.site-logo-text a {
    color: limegreen;
    text-decoration: none;
}

// Flash image
.flash-wrap img {
    border-radius: 10px;
}
