/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
@maxButtonFontSize: 2em;
@colorMenyLink: black;

// Style max menu
.rm-mobile a {
    color: @colorMenyLink;
}

// Flash image
.flash-wrap img {
    border-radius: 10px;
}
