/** --------------------------------------------------------------
 * Module that is responsible for handling the vertical grid in all regions
 */

@import "grid/grid-helpers.less";

@maxWidth: 980px;
@gridImage: "../img/grid/grid950x24x30x10-nomargin-bw.png";

.inner-wrap{
    .container();
    html.vgrid & {
    .showGrid(@maxWidth, @gridImage);
    }
}

.route-grid {
    .container();
    .showGrid(@maxWidth, @gridImage);
}

.row {
    .row();
}

.site-logo-text {
     .column(3);
}

.navbar2 {
    .column(18);
    .push(2);
}

.rm-desktop {
    & li a {
        margin-right: 10px;
    }
}

.rm-navbar-max {
     .column(2);
}

.flash-wrap {
    @maxWidth: 100%;
}

.breadcrumb-wrap {
    .column(10);
    .push(1);
}

.sidebar-content {
    .column(7);
    text-align: left;
    & h2 {
        margin-top: 24px;

    }
}

.ff2{
    .column(10);
}

.main.has-sidebar-left {
    .column(16);
    .push(1);
    text-align: left;
}

.main.has-sidebar-right {
    .column(12);
    .push(1);
    text-align: left;
}

.main {
    .column(18);
    .push(2);
    text-align: center;
}

.footer-column {
    .column(@columns/3);
    text-align: center;
}

.site-footer {
    .column(@columns);
    text-align: center;
}

.footer-column-wrapper {
    .clearfix();
}

.bylineWrapper {
    .column(@columns/2);
}

.has-sidebar-left {
    & .block.toc {
        .column(5);
        & h4 {
            .push(1);
        }
    }
}

.has-sidebar-right {
    & .block.toc {
        .column(5);
        & h4 {
            .push(1);
        }
    }
    text-align: center;
    & ul {
        list-style-type: none;
        }
}

.share {
    .clearfix();
    .column(12);
}
