@import "grid/grid-helpers.less";

@colorGridBg: white;
@colorFooterBorder: black;
@maxWidth: 980px;

@gridImage: "../img/grid/grid950x24x30x10-nomargin.png";

.inner-wrap{
    .container();
    html.vgrid & {
    .showGrid(@maxWidth, @gridImage);
    }
}

 .route-grid {
    .container();
    .showGrid(@maxWidth, @gridImage);
 }

.row {
    .row();
}

 .site-logo-text {
     .column(1);
 }

.rm-navbar-top {
    .column(16);
    float: none;
}
.rm-desktop {
    .column(@columns/2);
    float: none;
}

.rm-navbar-max {
     .column(2);
}

.flash-wrap {
    .column(@columns - 1);
    .push(1);
}

.breadcrumb-wrap {
    .column(10);
    .push(1);
}

.sidebar-content {
    .column(5);
    text-align: center;
    & h2 {
        margin-top: 24px;

    }
}

.main.has-sidebar-left {
    .column(16);
    .push(1);
    text-align: left;
}
.main.has-sidebar-right {
    .column(16);
    .push(1);
    text-align: left;
}

.main {
    .column(18);
    .push(2);
    text-align: center;
}

.footer-column {
    .column(@columns/3);
    text-align: center;
}

.site-footer {
    .column(@columns);
    text-align: center;
    border-top: 1px solid @colorFooterBorder;
}

.footer-column-wrapper {
    .clearfix();
}

.bylineWrapper {
    .column(@columns/2);
}

.has-sidebar-left {
    & .block.toc {
        .column(5);
        & h4 {
            .push(1);
        }
    }
}

.has-sidebar-right {
    & .block.toc {
        .column(5);
        & h4 {
            .push(1);
        }
    }
    text-align: center;
    & ul {
        list-style-type: none;
        }
}

.share {
    .column(9);
    .push(3);
}
