/**
* Anax Flat theme.
*/
@import url(modules.less);
@import
url('https://fonts.googleapis.com/css?family=|Eagle+Lake|Molle:400i');


@baseColor: white;
@borderColor: black;
@linkColor: black;

@colorH1BorderBottom: @borderColor;
@colorH2BorderBottom: @borderColor;

@colorFooterTopBorder: @borderColor;
@colorFooterBorder: @borderColor;
@breadcrumbColor: @borderColor;
@colorByline: @borderColor;

@navbarItemBgColor: @baseColor;
@navbarItemColor: @borderColor;

@maxBgColor: @baseColor;

@colorGridBg: @baseColor;

a {
    color: @linkColor;
}

.block.toc {
    background-color: @baseColor;
}

/** --------------------------------------------------------------
*   images
*/
.stugbild {
    max-width: 35%;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 10px;
}
.naturbildBohus {
    max-width: 70%;
    border-radius: 10px;
    margin-top: 10px;
}


/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}
