@import "typography-font-families.less";
@import "typography-sizes.less";
@import "typography-mixins.less";
@import "typography-defaults.less";

@colorH1BorderBottom: limegreen;
@colorH2BorderBottom: limegreen;


body {
    .font();
    .typographyHeadings();
    .typographyTextElements();
    .typographyCodeElements();
    .typographyListElements();
    .typographyTableElements();
    .typographyOtherElements();
}

.hgrid, .route-typography {
    background-image: url(../img/horisontal-grid-24.png);
}

//header parts
.inner-wrap-header {
    margin-top: 2px;
    margin-bottom: 23px;
}

nav div ul a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    //.font(@fontFamilyVerdana);
    font: 1.125em/1.5 Verdana, Geneva, sans-serif;
}

.site-header {
    @height: 40px;
    .calcMargin(@height);
    padding-top: @margin / 2 !important;
    padding-bottom: @margin / 2  + 2px !important;
    .font(@fontFamilyVerdana);
}

.rm-default a {
    font-family : @fontFamilyVerdana;
}

//flash part
.flash-wrap {
    height: 186px;
    margin-bottom: 4px;
}

//breadcrumb
.breadcrumb-wrap {
    margin-bottom : 20px;
}

//byline
.bylineWrapper {
    margin-bottom : 29px;
}

//footer
.outer-wrap-footer {
    padding-bottom:16px;
    border-top: 2px solid limegreen;
}

//block-toc
.block.toc {
    margin-top: 40px;
}
