@import "typography-font-families.less";
@import "typography-sizes.less";
@import "typography-mixins.less";
@import "typography-defaults.less";

@colorH1BorderBottom: silver;
@colorH2BorderBottom: silver;
@colorFooterTopBorder: silver;
@colorGridBg: white;
body {
    .font();
    .typographyHeadings();
    .typographyTextElements();
    .typographyCodeElements();
    .typographyListElements();
    .typographyTableElements();
    .typographyOtherElements();
}

.hgrid, .route-typography {
    background-image: url(../img/horisontal-grid-24.png);
    background-repeat: repeat;
}

//header parts
nav div ul a {
    @fontSize: 1.125em;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    .font(@fontSize; @fontFamilyVerdana);
    .fontSize(@fontSize);
}

.site-header {
    @height: 40px;
    .calcMargin(@height);
    margin-top:  8px !important;
    margin-bottom: @magicNumber + @margin !important;
}

.site-logo-text {
    @fontSize: 1.125em;
    .font(@fontSize; @fontFamilyVerdana);
    .fontSize(@fontSize);
    padding-top: 3px;
}

.rm-default a {
    font-family : @fontFamilyVerdana;
}

//flash part
.flash-wrap {
    height: 186px;
    margin-bottom: 1px;
}

//breadcrumb
.breadcrumb-wrap {
    margin-bottom : 20px;
}

//byline
.bylineWrapper {
    margin-bottom : 29px;
}

//main
.outer-wrap-main {
    margin-bottom: @magicNumber - 1px;
}

//footer
.footer-column-wrapper {
    margin-bottom: @magicNumber;
}

.outer-wrap-footer {
    padding-bottom: 16px;
    border-top: 2px solid @colorFooterTopBorder;
}

//block-toc
.block.toc {
    margin-top: 40px;
}
