@import "typography-font-families.less";
@import "typography-sizes.less";
@import "typography-mixins.less";
@import "typography-defaults.less";

@colorH1BorderBottom: silver;
@colorH2BorderBottom: silver;
@colorFooterTopBorder: silver;
@hgridBackground: url(../image/horisontal-grid-24.png?f=brightness,-180);

body {
    .font();
    .typographyHeadings();
    .typographyTextElements();
    .typographyCodeElements();
    .typographyListElements();
    .typographyTableElements();
    .typographyOtherElements();
}

.inner-wrap {
    html.hgrid & {
        background-image: @hgridBackground;
        background-repeat: repeat;
    }
}

//header parts
nav div ul a {
    @fontSize: 1.125em;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    .font(@fontSize; @fontFamilyVerdana);
    .fontSize(@fontSize);
}

.navbar2 {
    margin-bottom: @magicNumber - 2px;
}

.site-header {
    @height: 40px;
    .calcMargin(@height);
    margin-top:  8px !important;
    margin-bottom: @magicNumber + @margin !important;
}

.site-logo-text {
    @fontSize: 1.125em;
    .font(@fontSize; @fontFamilyVerdana);
    .fontSize(@fontSize);
    margin-bottom: 2px;
    margin-left: 10px;
}

//breadcrumb
.breadcrumb-wrap {
    margin-top:  4px !important;
}

.sidebar-content {
    margin-top: @magicNumber;
    & p {
        margin-top: 1px;
    }
}

.smalText {
    margin-top: 12px;
}

//byline
.bylineWrapper {
    margin-bottom : 29px;
}

//text related
.text {
    .clearfix();
}

//footer
.footer-column-wrapper {
    margin-bottom: @magicNumber;
}

.footer-column {
    margin-top: @magicNumber + 2px;
}


.outer-wrap-footer {
    border-top: 2px solid @colorFooterTopBorder;
}
.inner-wrap-footer {
    margin-top: 16px;
}

//block-toc
.block.toc {
    margin-top: 40px;
}

//blog-toc
.blog-toc {
    margin-top: 40px;
}
//next-previous sections
.next-previous {
    padding-bottom: 10px;
}

iframe {
    margin-top: 21px;
}
.readmore {
    margin-top: 19px;
}

//blog item meta Header
.meta-header {
    margin-top : 4px;
}
